.wrapper {
  background-color: var(--gray-400);

  padding: 1rem;
  border-radius: 8px;

  display: flex;
  gap: .75rem;
  align-items: flex-start;
}

.radio input[type="checkbox"] {
  appearance: none;

  width: 1.090625rem;
  height: 1.090625rem;
  border: 1px solid var(--purple-400);
  border-radius: 50%;

  flex-shrink: 0;

  position: relative;

  cursor: pointer;
}

.radio input[type="checkbox"]:checked {
  background-color: var(--purple-400);
}

.radio input[type="checkbox"]:checked::before {
  content: '✓';
  font-size: 1rem;
  color: var(--gray-100);

  position: absolute;
  top: -.1rem;
  left: .1rem;
}

.content {
  font-size: 0.875rem;
  color: var(--gray-100);
  line-height: 140%;
  width: 39.5rem;
}

.contentDone {
  font-size: 0.875rem;
  text-decoration: line-through;
  color: var(--gray-100);
  line-height: 140%;
  width: 39.5rem;
}

.delete { 
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 8px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.deleteIcon path {
  transition: fill .2s ease;
}

.delete:hover .deleteIcon path{
  fill: var(--red-400);
}