.header {
  display: flex;
  justify-content: space-between;
}

.tasksAmount {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.tasksAmount > h3 {
  font-size: .875rem;
  font-weight: 700;
  color: var(--blue-200);
}

.count {
  background-color: var(--gray-400);
  padding: 0.125rem .5rem;
  border-radius: 999px;

  font-size: .875rem;
  font-weight: 700;
  color: var(--gray-200);
}

.doneAmount {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.doneAmount > h3 {
  font-size: .875rem;
  font-weight: 700;
  color: var(--purple-400);
}

.taksList {
  margin-top: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: .75rem;
}